<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="dwg-box dwg-display--flex dwg-width--full dwg-flex-direction--column dwg-pt--12"
    >
      <div class="dwg-box dwg-width--full">
        <div class="_scrollArea_bb0ya_5 _grabbable_bb0ya_17 dwg-box">
          <div
            class="_quoteCardsGrid_ll7j2_158 dwg-box dwg-display--grid dwg-width--fit-content dwg-column-gap--3 dwg-pr--3 tablet:dwg-pr--6 dwg-pl--3 tablet:dwg-pl--6"
          >
            <div
              class="_card_1b963_1 _cardShow_1b963_8 _cardEntryAnimation_1b963_1 _card_daobz_10 dwg-box dwg-theme--graphite dwg-position--relative dwg-p--1"
              style="--dwg-iteration-index: 0"
            >
              <div
                class="_mediaSection_daobz_48 dwg-box dwg-position--relative dwg-width--full"
              >
                <div
                  class="dwg-media-frame dwg-box dwg-display--flex dwg-width--full dwg-bg-color--core-secondary"
                >
                  <div
                    class="dwg-box dwg-display--flex dwg-position--relative dwg-width--full"
                  >
                    <div
                      class="dwg-media-frame__content dwg-box dwg-display--flex dwg-position--static dwg-width--full dwg-align-items--center"
                    >
                      <div
                        class="dwg-media dwg-box dwg-display--flex dwg-aspect-ratio dwg-width--full dwg-height--full dwg-align-items--center"
                        style="
                          --dwg-aspect-ratio--mobile: 1;
                          --dwg-aspect-ratio--mobile-lg: 1;
                          --dwg-aspect-ratio--tablet: 1;
                          --dwg-aspect-ratio--tablet-lg: 1;
                          --dwg-aspect-ratio--desktop: 1;
                          --dwg-aspect-ratio--desktop-lg: 1;
                          --dwg-aspect-ratio--ultrawide: 1;
                        "
                      >
                        <picture
                          class="dwg-box dwg-width--full dwg-height--full"
                          ><source
                            class="dwg-box"
                            srcset="
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/BrianThumb.png?id=ad81b907-369a-439e-b7f7-1c52d1061618&amp;width=414&amp;output_type=webp 414w,
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/BrianThumb.png?id=ad81b907-369a-439e-b7f7-1c52d1061618&amp;output_type=webp               500w
                            "
                            type="image/webp" />
                          <img
                            class="dwg-media-image dwg-media-image--object-fit-cover dwg-box dwg-position--absolute dwg-width--full dwg-height--full"
                            alt=""
                            loading="lazy"
                            src="https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/BrianThumb.png?id=ad81b907-369a-439e-b7f7-1c52d1061618&amp;output_type=png"
                            srcset="
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/BrianThumb.png?id=ad81b907-369a-439e-b7f7-1c52d1061618&amp;width=414&amp;output_type=png 414w,
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/BrianThumb.png?id=ad81b907-369a-439e-b7f7-1c52d1061618&amp;output_type=png               500w
                            "
                        /></picture>
                      </div>
                    </div>
                  </div>
                </div>
                <span
                  class="_icon_daobz_35 dwg-lazy-icon--large dwg-box dwg-display--inline-block dwg-color--standard"
                  ><svg
                    viewBox="0 0 24 24"
                    fill="none"
                    class="dig-UIIcon"
                    width="32"
                    height="32"
                    role="presentation"
                    focusable="false"
                  >
                    <path
                      d="M12 4c-5.159 0-8 2.841-8 8s2.841 8 8 8 8-2.841 8-8-2.841-8-8-8Zm-2 11.5v-7l5.5 3.5-5.5 3.5Z"
                      fill="currentColor"
                      vector-effect="non-scaling-stroke"
                    ></path></svg
                ></span>
              </div>
              <div
                class="dwg-box dwg-display--flex dwg-height--full dwg-flex-direction--column dwg-justify-content--flex-start dwg-pt--1 tablet:dwg-pt--0 dwg-pr--3 dwg-pb--3 tablet:dwg-pb--0_5 dwg-pl--3"
              >
                <span
                  class="dwg-text dwg-font-family--atlas-grotesk dwg-font-size--12 dwg-font-weight--bold dwg-font-style--normal dwg-line-height--120% _eyebrowText_daobz_27 dwg-box dwg-p--0 dwg-m--0 dwg-mt--3 tablet:dwg-mt--1_5 dwg-mb--3 dwg-bg-color--transparent dwg-color--standard"
                  >Testimonial</span
                >
                <h3
                  class="dwg-text dwg-font-family--sharp-grotesk-20-book dwg-font-size--20 desktop:dwg-font-size--24 dwg-font-weight--medium dwg-font-style--normal dwg-line-height--120% _quoteText_daobz_31 dwg-typography--pretty-balance dwg-box dwg-p--0 dwg-m--0 dwg-bg-color--transparent dwg-color--standard"
                >
                  “The security of knowing our information is safe.”
                </h3>
                <p
                  class="dwg-text dwg-font-family--atlas-grotesk dwg-font-size--14 dwg-font-weight--regular dwg-font-style--normal dwg-line-height--150% dwg-typography--pretty-balance dwg-box dwg-p--0 dwg-m--0 dwg-mt--1_5 dwg-mb--3 tablet:dwg-mb--1_5 dwg-bg-color--transparent dwg-color--faint"
                  id="2000.1000000005588"
                >
                  Customer Bryan Chandler reveals how his team uses Dropbox to
                  organize and share files securely.
                </p>
                <button
                  class="_cta_daobz_53 _mainCtaElement_1b963_14 dwg-button2 dwg-button2--button-style-transparent dwg-button2--button-size-none dwg-box dwg-display--inline-block dwg-width--fit-content dwg-p--0 dwg-bg-color--transparent dwg-border-style--none dwg-color--standard active:dwg-color--standard disabled:dwg-color--disabled"
                  rel=""
                  draggable="false"
                  aria-label="Watch testimonial from Customer Bryan Chandler"
                  aria-describedby="2000.1000000005588"
                  data-uxa-log="home_video_card_1"
                >
                  <div
                    class="dwg-stack dwg-stack--v2 dwg-stack--grid-flow-column dwg-column-gap--0_5 dwg-box dwg-display--inline-grid dwg-position--relative dwg-width--full dwg-height--full dwg-align-items--center dwg-justify-content--flex-start dwg-p--0 dwg-m--0 dwg-text-decoration--underline"
                  >
                    <span
                      class="dwg-text dwg-font-family--atlas-grotesk dwg-font-size--16 dwg-font-weight--medium dwg-font-style--normal dwg-line-height--120% dwg-button2__text dwg-box dwg-p--0 dwg-m--0 dwg-bg-color--transparent dwg-color--inherit"
                      >Watch testimonial</span
                    >
                  </div>
                </button>
              </div>
            </div>
            <div
              class="_card_1b963_1 _cardShow_1b963_8 _cardEntryAnimation_1b963_1 _card_daobz_10 dwg-box dwg-theme--graphite dwg-position--relative dwg-p--1"
              style="--dwg-iteration-index: 1"
            >
              <div
                class="_mediaSection_daobz_48 dwg-box dwg-position--relative dwg-width--full"
              >
                <div
                  class="dwg-media-frame dwg-box dwg-display--flex dwg-width--full dwg-bg-color--core-secondary"
                >
                  <div
                    class="dwg-box dwg-display--flex dwg-position--relative dwg-width--full"
                  >
                    <div
                      class="dwg-media-frame__content dwg-box dwg-display--flex dwg-position--static dwg-width--full dwg-align-items--center"
                    >
                      <div
                        class="dwg-media dwg-box dwg-display--flex dwg-aspect-ratio dwg-width--full dwg-height--full dwg-align-items--center"
                        style="
                          --dwg-aspect-ratio--mobile: 1;
                          --dwg-aspect-ratio--mobile-lg: 1;
                          --dwg-aspect-ratio--tablet: 1;
                          --dwg-aspect-ratio--tablet-lg: 1;
                          --dwg-aspect-ratio--desktop: 1;
                          --dwg-aspect-ratio--desktop-lg: 1;
                          --dwg-aspect-ratio--ultrawide: 1;
                        "
                      >
                        <picture
                          class="dwg-box dwg-width--full dwg-height--full"
                          ><source
                            class="dwg-box"
                            srcset="
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/JustinThumb.png?id=9e7c8793-8282-4398-a9d0-b1f1a803f10a&amp;width=414&amp;output_type=webp 414w,
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/JustinThumb.png?id=9e7c8793-8282-4398-a9d0-b1f1a803f10a&amp;output_type=webp               500w
                            "
                            type="image/webp" />
                          <img
                            class="dwg-media-image dwg-media-image--object-fit-cover dwg-box dwg-position--absolute dwg-width--full dwg-height--full"
                            alt=""
                            loading="lazy"
                            src="https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/JustinThumb.png?id=9e7c8793-8282-4398-a9d0-b1f1a803f10a&amp;output_type=png"
                            srcset="
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/JustinThumb.png?id=9e7c8793-8282-4398-a9d0-b1f1a803f10a&amp;width=414&amp;output_type=png 414w,
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/JustinThumb.png?id=9e7c8793-8282-4398-a9d0-b1f1a803f10a&amp;output_type=png               500w
                            "
                        /></picture>
                      </div>
                    </div>
                  </div>
                </div>
                <span
                  class="_icon_daobz_35 dwg-lazy-icon--large dwg-box dwg-display--inline-block dwg-color--standard"
                  ><svg
                    viewBox="0 0 24 24"
                    fill="none"
                    class="dig-UIIcon"
                    width="32"
                    height="32"
                    role="presentation"
                    focusable="false"
                  >
                    <path
                      d="M12 4c-5.159 0-8 2.841-8 8s2.841 8 8 8 8-2.841 8-8-2.841-8-8-8Zm-2 11.5v-7l5.5 3.5-5.5 3.5Z"
                      fill="currentColor"
                      vector-effect="non-scaling-stroke"
                    ></path></svg
                ></span>
              </div>
              <div
                class="dwg-box dwg-display--flex dwg-height--full dwg-flex-direction--column dwg-justify-content--flex-start dwg-pt--1 tablet:dwg-pt--0 dwg-pr--3 dwg-pb--3 tablet:dwg-pb--0_5 dwg-pl--3"
              >
                <span
                  class="dwg-text dwg-font-family--atlas-grotesk dwg-font-size--12 dwg-font-weight--bold dwg-font-style--normal dwg-line-height--120% _eyebrowText_daobz_27 dwg-box dwg-p--0 dwg-m--0 dwg-mt--3 tablet:dwg-mt--1_5 dwg-mb--3 dwg-bg-color--transparent dwg-color--standard"
                  >Testimonial</span
                >
                <h3
                  class="dwg-text dwg-font-family--sharp-grotesk-20-book dwg-font-size--20 desktop:dwg-font-size--24 dwg-font-weight--medium dwg-font-style--normal dwg-line-height--120% _quoteText_daobz_31 dwg-typography--pretty-balance dwg-box dwg-p--0 dwg-m--0 dwg-bg-color--transparent dwg-color--standard"
                >
                  “Seriously impressive security features”
                </h3>
                <p
                  class="dwg-text dwg-font-family--atlas-grotesk dwg-font-size--14 dwg-font-weight--regular dwg-font-style--normal dwg-line-height--150% dwg-typography--pretty-balance dwg-box dwg-p--0 dwg-m--0 dwg-mt--1_5 dwg-mb--3 tablet:dwg-mb--1_5 dwg-bg-color--transparent dwg-color--faint"
                  id="2001.5"
                >
                  Tech influencer Justin Tse discusses why he trusts Dropbox to
                  keep his content safe.
                </p>
                <button
                  class="_cta_daobz_53 _mainCtaElement_1b963_14 dwg-button2 dwg-button2--button-style-transparent dwg-button2--button-size-none dwg-box dwg-display--inline-block dwg-width--fit-content dwg-p--0 dwg-bg-color--transparent dwg-border-style--none dwg-color--standard active:dwg-color--standard disabled:dwg-color--disabled"
                  rel=""
                  draggable="false"
                  aria-label="Watch testimonial from tech influencer Justin Tse"
                  aria-describedby="2001.5"
                  data-uxa-log="home_video_card_2"
                >
                  <div
                    class="dwg-stack dwg-stack--v2 dwg-stack--grid-flow-column dwg-column-gap--0_5 dwg-box dwg-display--inline-grid dwg-position--relative dwg-width--full dwg-height--full dwg-align-items--center dwg-justify-content--flex-start dwg-p--0 dwg-m--0 dwg-text-decoration--underline"
                  >
                    <span
                      class="dwg-text dwg-font-family--atlas-grotesk dwg-font-size--16 dwg-font-weight--medium dwg-font-style--normal dwg-line-height--120% dwg-button2__text dwg-box dwg-p--0 dwg-m--0 dwg-bg-color--transparent dwg-color--inherit"
                      >Watch testimonial</span
                    >
                  </div>
                </button>
              </div>
            </div>
            <div
              class="_card_1b963_1 _cardShow_1b963_8 _cardEntryAnimation_1b963_1 _card_daobz_10 dwg-box dwg-theme--graphite dwg-position--relative dwg-p--1"
              style="--dwg-iteration-index: 2"
            >
              <div
                class="_mediaSection_daobz_48 dwg-box dwg-position--relative dwg-width--full"
              >
                <div
                  class="dwg-media-frame dwg-box dwg-display--flex dwg-width--full dwg-bg-color--core-secondary"
                >
                  <div
                    class="dwg-box dwg-display--flex dwg-position--relative dwg-width--full"
                  >
                    <div
                      class="dwg-media-frame__content dwg-box dwg-display--flex dwg-position--static dwg-width--full dwg-align-items--center"
                    >
                      <div
                        class="dwg-media dwg-box dwg-display--flex dwg-aspect-ratio dwg-width--full dwg-height--full dwg-align-items--center"
                        style="
                          --dwg-aspect-ratio--mobile: 1;
                          --dwg-aspect-ratio--mobile-lg: 1;
                          --dwg-aspect-ratio--tablet: 1;
                          --dwg-aspect-ratio--tablet-lg: 1;
                          --dwg-aspect-ratio--desktop: 1;
                          --dwg-aspect-ratio--desktop-lg: 1;
                          --dwg-aspect-ratio--ultrawide: 1;
                        "
                      >
                        <picture
                          class="dwg-box dwg-width--full dwg-height--full"
                          ><source
                            class="dwg-box"
                            srcset="
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/SecurityThumb.png?id=9b20ffce-4e40-4d57-9ac1-6173cb71473e&amp;width=414&amp;output_type=webp 414w,
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/SecurityThumb.png?id=9b20ffce-4e40-4d57-9ac1-6173cb71473e&amp;output_type=webp               500w
                            "
                            type="image/webp" />
                          <img
                            class="dwg-media-image dwg-media-image--object-fit-cover dwg-box dwg-position--absolute dwg-width--full dwg-height--full"
                            alt=""
                            loading="lazy"
                            src="https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/SecurityThumb.png?id=9b20ffce-4e40-4d57-9ac1-6173cb71473e&amp;output_type=png"
                            srcset="
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/SecurityThumb.png?id=9b20ffce-4e40-4d57-9ac1-6173cb71473e&amp;width=414&amp;output_type=png 414w,
                              https://fjord.dropboxstatic.com/warp/conversion/dropbox/warp/en-us/test/homepageredesign2024/security/interview-cards/SecurityThumb.png?id=9b20ffce-4e40-4d57-9ac1-6173cb71473e&amp;output_type=png               500w
                            "
                        /></picture>
                      </div>
                    </div>
                  </div>
                </div>
                <span
                  class="_icon_daobz_35 dwg-lazy-icon--large dwg-box dwg-display--inline-block dwg-color--standard"
                  ><svg
                    viewBox="0 0 24 24"
                    fill="none"
                    class="dig-UIIcon"
                    width="32"
                    height="32"
                    role="presentation"
                    focusable="false"
                  >
                    <path
                      d="M12 4c-5.159 0-8 2.841-8 8s2.841 8 8 8 8-2.841 8-8-2.841-8-8-8Zm-2 11.5v-7l5.5 3.5-5.5 3.5Z"
                      fill="currentColor"
                      vector-effect="non-scaling-stroke"
                    ></path></svg
                ></span>
              </div>
              <div
                class="dwg-box dwg-display--flex dwg-height--full dwg-flex-direction--column dwg-justify-content--flex-start dwg-pt--1 tablet:dwg-pt--0 dwg-pr--3 dwg-pb--3 tablet:dwg-pb--0_5 dwg-pl--3"
              >
                <span
                  class="dwg-text dwg-font-family--atlas-grotesk dwg-font-size--12 dwg-font-weight--bold dwg-font-style--normal dwg-line-height--120% _eyebrowText_daobz_27 dwg-box dwg-p--0 dwg-m--0 dwg-mt--3 tablet:dwg-mt--1_5 dwg-mb--3 dwg-bg-color--transparent dwg-color--standard"
                  >Webinar</span
                >
                <h3
                  class="dwg-text dwg-font-family--sharp-grotesk-20-book dwg-font-size--20 desktop:dwg-font-size--24 dwg-font-weight--medium dwg-font-style--normal dwg-line-height--120% _quoteText_daobz_31 dwg-typography--pretty-balance dwg-box dwg-p--0 dwg-m--0 dwg-bg-color--transparent dwg-color--standard"
                >
                  “How do you enhance security and keep productivity
                  reasonable?”
                </h3>
                <p
                  class="dwg-text dwg-font-family--atlas-grotesk dwg-font-size--14 dwg-font-weight--regular dwg-font-style--normal dwg-line-height--150% dwg-typography--pretty-balance dwg-box dwg-p--0 dwg-m--0 dwg-mt--1_5 dwg-mb--3 tablet:dwg-mb--1_5 dwg-bg-color--transparent dwg-color--faint"
                  id="2002.2000000001863"
                >
                  Your company’s sharing content with collaborators all over the
                  world. Are you in control?
                </p>
                <button
                  class="_cta_daobz_53 _mainCtaElement_1b963_14 dwg-button2 dwg-button2--button-style-transparent dwg-button2--button-size-none dwg-box dwg-display--inline-block dwg-width--fit-content dwg-p--0 dwg-bg-color--transparent dwg-border-style--none dwg-color--standard active:dwg-color--standard disabled:dwg-color--disabled"
                  rel=""
                  draggable="false"
                  aria-label="Watch security webinar"
                  aria-describedby="2002.2000000001863"
                  data-uxa-log="home_video_card_3"
                >
                  <div
                    class="dwg-stack dwg-stack--v2 dwg-stack--grid-flow-column dwg-column-gap--0_5 dwg-box dwg-display--inline-grid dwg-position--relative dwg-width--full dwg-height--full dwg-align-items--center dwg-justify-content--flex-start dwg-p--0 dwg-m--0 dwg-text-decoration--underline"
                  >
                    <span
                      class="dwg-text dwg-font-family--atlas-grotesk dwg-font-size--16 dwg-font-weight--medium dwg-font-style--normal dwg-line-height--120% dwg-button2__text dwg-box dwg-p--0 dwg-m--0 dwg-bg-color--transparent dwg-color--inherit"
                      >Watch webinar</span
                    >
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
